* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --white-background-color: #fff;
    --lightpurple-background-color: #a3c2c2;
    --dark-gray: #666633;
    
    --m-left: 24px;
    --m-left-2: 72px;
    --m-right: 24px;
    --m-right-2: 72px;
    --m-right-2: 16px;
    --m-right-3: 72px;
    --logo-height: 32px;
    --section-height: auto;
    --section-width: 60%;
    --section-width-2: 40%;
    --section-width-3: 35%;
    --section-width-4: 65%;
    --padding-top: 32px;
    --padding-bottom: 32px;
    --padding-bottom-2: 24px;
    --padding-left: 24px;
    --padding-right: 24px;
    --padding-left-2: 16px;
    --padding-right-2: 16px;
    --padding-top-2: 16px;
    --padding-bottom-2: 16px;
    --padding-top-2: 8px;
    --padding-bottom-3: 8px;

    --nav-fs: 
}

/* Header */

header {
    background-color: #fff;
    height: 69px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: var(--m-left);
}

.company-logo {
    height: 32px;
/*    width: 25%;
    padding: 0 2% 0 1.5rem;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 69px;
}

.company-logo h3 {
    font-size: 2rem;
    color: var(--dark-gray);
}

.company-logo span {
    font-size: 2rem;
    color: var(--lightpurple-background-color);
}

header nav a {
    margin-right: var(--m-right-2);
    text-decoration: none;
    font-size: 1.7rem;
    color: var(--dark-gray);
}

header nav a span {
    margin-right: var(--m-right);
    text-decoration: none;
    font-size: 1.7rem;
    color: var(--dark-gray);
}

header nav a::before {
    content: "";
    height: 69px;
    width: var(--m-right-2);
    color: var(--lightpurple-background-color);
}

/* Banner */

.banner-container {
    display: flex;
/*    grid-template-columns: 60% 40%;*/
    background-color: var(--lightpurple-background-color);
    margin-left: var(--m-left);
    padding-top: var(--padding-top);
    padding-bottom: 42px;
}

.banner-container img {
    width: 800px;
    height: auto;
    margin-left: 50px;
    padding-top: var(--padding-top);
    padding-right: 24px;
}

.banner-info {
    display: flex;
    flex-direction: column;
/*    align-items: flex-start;*/
    margin-left: 24px;
    justify-content: center;
}

.banner-container h1 {
    font-size: 52px;
    line-height: 1.2;
}

.banner-container p {
    font-size: 32px;
    font-weight: bold;
}

.banner-container .btn {
    color: #fff;
    background-color: var(--dark-gray);
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 32px; 
}